body {
    margin: 0;
}
/* img {
    max-width: 100%;
    height: auto;
} */
.centered {
position: absolute;
    top: 75%;
    left: 79%;
    width: 39%;
    transform: translate(-50%, -50%);
}
.UpBox {
    display: flex;
        flex-direction: row;
        margin-top: 6%;
        margin-left: 7%;
        margin-right: 5%;
        
}
.LeftBox {
    display: flex;
    flex-direction: row;
    width: 45%;
    padding: 25px;
    margin-right: 2.5%;
    margin-top: 6%;
}

.LeftBox a {
    text-decoration: none;
    color: black;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 25px;
    color: darkgrey;
}

.LeftBox a:hover {
    color: rgb(85, 11, 5);
}

.RightBox {
    width: 52.5%;
    padding: 25px;
    border: 3px solid #F96815;
}

.RightBox img {
    margin-right: 2%;
}

.MR {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 25px;
    text-align: center;
}

.RightBox a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.RightBox a:hover {
    color: coral;
}

.RightBox div {
    display: flex;
    border: 3px solid #1B1B1B;
    border-radius: 25px;
    width: 95%;
    margin-bottom: 2%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 15px;
    height: 120px;
}

.bannerAdds{
    display: flex;
        justify-content: space-around;
}

.bannerAdd {
display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
    border: 3px solid #4d0303;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 200px;
    padding: 15px;
}
.specialDiv {
    border: 3px solid yellow;
    width: 20%;
    padding: 15px;
    margin: 2.5%;
    height: 100px;
}

.specialDiv p {
    text-align: center;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 25px;
}
.RowOfNews {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 3px solid purple;
}

.RowOfNews div {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 250px;
    border: 3px solid red;
    padding: 20px;
    margin: 4%;
}

.RowOfNews a {
    text-decoration: none;
    color: black;
    margin-top: 2%;
    margin-left: 2.5%;
    font-size: 20px;
}
.RowOfNews a:hover {
    color: coral;
}
.BottomBoxes {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 20px;
    height: 480px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid green;
}
.BoxHoldr1 {
    display: flex;
    flex-direction: column;
    border: 3px solid red;
    width: 30%;
    padding: 15px;
    justify-content: space-between;
}
.BoxHoldr1 a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    text-align: center;
}

.BoxHoldr1 a:hover {
    color: coral;
}

.BoxHoldr1 h3 {
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.BoxHoldr1 div {
    border: 2px solid blue;
    justify-self: center;
    width: 90%;
    margin: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    height: 180px;
}


/* Per arsye me u bo ma heret responsive */

@media screen and (max-width: 600px) {

    .UpBox {
        display: flex;
        flex-direction: column;
    }

    .LeftBox {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        margin-right: 2.5%;
    }

    .RightBox {
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 3%;
    }

    .RightBox p {
        font-size: 15px;
    }

    .RightBox img {
        margin-right: 2%;
    }

    .RightBox div {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-bottom: 2%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        height: 380px;
    }

    /* Banner Responsivity */


    .bannerAdd {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
        width: 100%;
        border: 3px solid red;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 15px;
    }

    .InfoDiv {
        border: 3px solid blue;
        width: 90%;
        padding: 15px;
        margin: 2.5%;
        margin-right: 5%;
        margin-left: 5%;
        height: 100px;
    }

    .InfoDiv p {
        text-align: center;
        font-size: 25px;
    }

    .specialDiv {
        border: 3px solid yellow;
        width: 95%;
        padding: 15px;
        margin: 2.5%;
        height: 100px;
    }

    .specialDiv p {
        text-align: center;
        font-family: 'Atkinson Hyperlegible', sans-serif;
        font-size: 25px;
    }

    /* Banner Responsivity */



    /* BoxNews Responsivity */



    .BottomBoxes {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: 3%;
        margin-bottom: 3%;
        padding: 20px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 3px solid green;
    }

    .BoxHoldr1 {
        display: flex;
        flex-direction: column;
        border: 3px solid red;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 2%;
        padding: 15px;
        justify-content: space-between;
    }

    .BoxHoldr1 a {
        text-decoration: none;
        color: black;
        font-size: 25px;
        font-family: 'Atkinson Hyperlegible', sans-serif;
        text-align: center;
    }

    .BoxHoldr1 a:hover {
        color: coral;
    }

    .BoxHoldr1 h3 {
        text-decoration: none;
        font-size: 25px;
        text-align: center;
        font-family: 'Atkinson Hyperlegible', sans-serif;
    }

    .BoxHoldr1 div {
        border: 2px solid blue;
        justify-self: center;
        width: 90%;
        margin: 2%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 10px;
        height: 180px;
    }


    /* BoxNews Responsivity */

}





@media screen and (max-width: 700px) {

    .UpBox {
        display: flex;
        flex-direction: column;
    }

    .LeftBox {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        margin-right: 2.5%;
    }

    .RightBox {
        width: 95%;
        margin-right: 2.5%;
        margin-left: 2.5%;
        margin-top: 3%;
    }

    .RightBox img {
        margin-right: 2%;
    }

    .RightBox div {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-bottom: 2%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        height: 380px;
    }


    /* Banner Responsivity */


    .bannerAdd {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
        width: 100%;
        border: 3px solid red;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 15px;
    }

    .InfoDiv {
        border: 3px solid blue;
        width: 90%;
        padding: 15px;
        margin: 2.5%;
        margin-right: 5%;
        margin-left: 5%;
        height: 100px;
    }

    .InfoDiv p {
        text-align: center;
        font-size: 25px;
    }

    .specialDiv {
        border: 3px solid yellow;
        width: 95%;
        padding: 15px;
        margin: 2.5%;
        height: 100px;
    }

    .specialDiv p {
        text-align: center;
        font-family: 'Atkinson Hyperlegible', sans-serif;
        font-size: 25px;
    }

    /* Banner Responsivity */


    /* Row of News Responsivity */

    .RowOfNews {
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        padding: 25px;
        border: 3px solid purple;
    }

    .RowOfNews div {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-bottom: 2%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        height: 380px;
    }

    .RowOfNews img {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: 15%;
        height: auto;
    }

    .RowOfNews a {
        text-decoration: none;
        color: black;
        text-align: center;
        margin-top: 2%;
        margin-left: 2.5%;
        font-size: 20px;
    }

    .RowOfNews a:hover {
        color: coral;
    }

    /* Row of News Responsivity */


    /* BoxNews Responsivity */



    .BottomBoxes {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: 3%;
        margin-bottom: 3%;
        padding: 20px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 3px solid green;
    }

    .BoxHoldr1 {
        display: flex;
        flex-direction: column;
        border: 3px solid red;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 2%;
        padding: 15px;
        justify-content: space-between;
    }

    .BoxHoldr1 a {
        text-decoration: none;
        color: black;
        font-size: 25px;
        font-family: 'Atkinson Hyperlegible', sans-serif;
        text-align: center;
    }

    .BoxHoldr1 a:hover {
        color: coral;
    }

    .BoxHoldr1 h3 {
        text-decoration: none;
        font-size: 25px;
        text-align: center;
        font-family: 'Atkinson Hyperlegible', sans-serif;
    }

    .BoxHoldr1 div {
        border: 2px solid blue;
        justify-self: center;
        width: 90%;
        margin: 2%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 10px;
        height: 180px;
    }


    /* BoxNews Responsivity */

}

@media screen and (max-width: 800px) {

    .UpBox {
        display: flex;
        flex-direction: column;
    }

    .LeftBox {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        margin-right: 2.5%;
    }

    .RightBox {
        width: 95%;
        margin-right: 2.5%;
        margin-left: 2.5%;
        margin-top: 3%;
    }

    .RightBox img {
        margin-right: 2%;
    }

    .RightBox div {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-bottom: 2%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        height: 380px;
    }


    .RowOfNews {
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        padding: 25px;
        border: 3px solid purple;
    }

    .RowOfNews div {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-bottom: 2%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        height: 380px;
    }

    .RowOfNews img {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: 15%;
        height: auto;
    }

    .RowOfNews a {
        text-decoration: none;
        color: black;
        text-align: center;
        margin-top: 2%;
        margin-left: 2.5%;
        font-size: 20px;
    }

    .RowOfNews a:hover {
        color: coral;
    }

    /* Row of News Responsivity */

}
@media screen and (max-width: 1300px) {

    .RightBox div {
        display: flex;
        flex-direction: column;
        border: 3px solid yellowgreen;
        width: 95%;
        margin-bottom: 2%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        padding: 15px;
        height: 340px;
    }

    .RightBox img {
        height: 200px;
    }


    .RowOfNews {
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        padding: 25px;
        border: 3px solid purple;
    }

    .RowOfNews div {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-bottom: 2%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        height: 380px;
    }

    .RowOfNews img {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: 15%;
        height: auto;
    }

    .RowOfNews a {
        text-decoration: none;
        color: black;
        text-align: center;
        margin-top: 2%;
        margin-left: 2.5%;
        font-size: 20px;
    }

    .RowOfNews a:hover {
        color: coral;
    }

    /* Row of News Responsivity */



    /* BoxNews Responsivity */



    .BottomBoxes {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: 3%;
        margin-bottom: 3%;
        padding: 20px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 3px solid green;
    }

    .BoxHoldr1 {
        display: flex;
        flex-direction: column;
        border: 3px solid red;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 2%;
        padding: 15px;
        justify-content: space-between;
    }

    .BoxHoldr1 a {
        text-decoration: none;
        color: black;
        font-size: 25px;
        font-family: 'Atkinson Hyperlegible', sans-serif;
        text-align: center;
    }

    .BoxHoldr1 a:hover {
        color: coral;
    }

    .BoxHoldr1 h3 {
        text-decoration: none;
        font-size: 25px;
        text-align: center;
        font-family: 'Atkinson Hyperlegible', sans-serif;
    }

    .BoxHoldr1 div {
        border: 2px solid blue;
        justify-self: center;
        width: 90%;
        margin: 2%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 10px;
        height: 180px;
    }


    /* BoxNews Responsivity */

}