.centered{
    position: absolute;
        top: 41%;
        right: 5%;
        font-size: 360%;
        color: burlywood;
        transform: translate(-50%, -50%);
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.inline{
    display: flex;
    flex-direction: row;
    border: 2px;
    justify-content: space-between;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* @media print {
    body {
        -webkit-print-color-adjust: exact;
    }
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    background: linear-gradient(90deg, black, #022a3c) fixed;
    padding: 50px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
} */

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.card {
    width: 434px;
    height: auto;
    position: relative;
    background:mistyrose;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 20px;
    transition: all .3s ease-in;
}

.card>* {
    padding: 10px;
}

.card .card-image {
    height: 150px;
    width: 150px;
    border: 5px double #022a3c;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
}

.card .card-title {
    padding: 20px 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 1px 0px 2px #262654;
}

.card:nth-child(1) .card-image {
    background-image:url(../strawberry.jfif);
}

.card:nth-child(2) .card-image {
    background-image: url(../fruit_banana-01.webp);
}

.card:nth-child(3) .card-image {
    background-image: url(../oranges-49747-1.jpg);
}

.card:hover {
    background: #c18080;
    color: #fff;
    box-shadow: 0px 0px 11px 5px #000000;

}

.card .card-text {
    line-height: 20px;
    font-size: 400;
}
.gif{
    margin: auto;
    margin-top:20px;
}

