body {
    /* background: rgb(18, 16, 17); */
    font-family: 'Poppins', sans-serif;
}

#form {
    width: 300px;
    margin: 20vh auto 0 auto;
    border-radius: 15px;
    padding: 30px;
    background-color: rgb(33, 31, 32);
    font-size: 12px;
    color: #ffff;
    margin-bottom: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    font-family: FontAwesome, "Roboto", sans-serif;
}

#form h1 {
    color: #ffd300;
    text-align: center;
}

#form button {
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    padding: 15px;
    margin-top: 10px;
    width: 100%;
    color: black;
    font-weight: bold;
    background-color: #ffd300;
    border: 0;
    border-radius: 30px;
    letter-spacing: .1em;
    outline: 0;
    margin: 0px 0px 8px;
    transition: all 0.3 ease;
    cursor: pointer;
    transition: all 0.2s;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    font-family: FontAwesome, "Roboto", sans-serif;
    border: 2px solid #f0f0f0;
	/* display: block; */
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 10px;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

#form button:hover,
#form button:focus {
    background: #4e5251;
    box-shadow: 0 5px 10px #ffd300;
    transform: translateY(-4px);
    color: #ffd300;
}